.scale-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    overflow: hidden;
}

.scale-overlay-img {
    user-select: none;
}

.scale-overlay-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    user-select: none;
}